ELEVENLABS_API_KEY=replace_me
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_NARRATOR_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_AUDREY_VOICE_ID=jkUnCsbErmJrcbWk1Hmh
ELEVENLABS_PAXTEN_VOICE_ID=XXphLKNRxvJ1Qa95KBhX
ELEVENLABS_MODEL_ID=eleven_v4
ELEVENLABS_DIALOGUE_MODEL_ID=eleven_v4
ELEVENLABS_OUTPUT_FORMAT=mp3_44100_128
